.footer_line {
    width: 100%;
    height: 11px;
}
.footer_line img{
    width: 100%;
    height: 100%;
}
.footer_row {
    display: flex;
    width: 100%;
    height: 100%;
}
.row_left,
.row_right {
    width: 50%;
    float: left;
}
.row_left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Supermolot';
    color: #999999;
    font-size: 17px;
}
.row_left span {
    font-family: 'Supermolot Black';
}

.row_right .col {
    width: 33.33333%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_site {
    font-family: 'Supermolot';
    color: #999999;
    font-size: 15px;
}
