.footer_line {
    width: 100%;
    height: 11px;
}
.footer_line img{
    width: 100%;
    height: 100%;
}
.footer_row {
    height: 100%;
    padding: 0 50px;
}
.row_left,
.row_right {
    width: 50%;
    float: left;
}
.row_left {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    font-family: 'Supermolot';
    color: #999999;
    font-size: 17px;
}
.row_left span {
    font-family: 'Supermolot Black';
}
.row_right {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.row_right .col {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.footer_site {
    font-family: 'Supermolot';
    color: #999999;
    font-size: 15px;
    text-align: right;
}
