.app {
  background: #4d4e4f;
  height: 100vh;
  overflow: hidden;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.header__inner {
  padding: 30px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  height: 85.5vh;
  background: #414142;
  z-index: 1;
}
.footer {
  height: 14.5vh;
}
.new-line {
  width: 100%;
}
.video-react-controls-enabled {
  padding: 0 !important;
}
.video-react-big-play-button {
  display: none !important;
}
.video-react-control-bar {
  display: none !important;
}
.video-react-video {
  max-width: 100%;
}
