.app {
  background: #4d4e4f;
  height: 100vh;
  overflow: hidden;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.header__inner {
  padding: 30px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  height: 85.5vh;
  background: #414142;
  z-index: 1;
}
.footer {
  height: 14.5vh;
}
.new-line {
  width: 100%;
}
.video-react-controls-enabled {
  padding: 0 !important;
}
.video-react-big-play-button {
  display: none !important;
}
.video-react-control-bar {
  display: none !important;
}
.video-react-video {
  max-width: 100%;
}
.item-project {
  padding-top: 150px;
  padding-left: 100px;
}
.item-project__card {
  width: 251px;
  height: 241px;
  background: url("/img/fon-item-project-inactive.png") no-repeat;
  padding: 30px;
}
.item-project__card.active {
  background: url("/img/fon-item-project-active.png") no-repeat;
}
button.react-multiple-carousel__arrow {
  display: none!important;
}
.react-multi-carousel-dot-list {
  display: none !important;
}
.mCSB_buttonUp {
  background-image: url("/img/arrow-up.png") !important;
  background-position: center center !important;
}
.mCSB_buttonDown {
  background-image: url("/img/arrow-down.png")!important;
  background-position: center center !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #4d4e4f !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background: #cccccc !important;
}
.map svg .active {
  fill: #189255 !important;
}
